{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<p>{{ user }}</p>
{% if user == request.user %}
<p><a href={% url 'accounts:following_list' user %}>フォロー数</a>: {{ follow_number }} <a href={% url 'accounts:follower_list' user %}>フォロワー数</a>: {{ follower_number }}</p>
{% elif is_follow %}
<form method="post">
    {% csrf_token %}
    <button type="submit" formaction={% url 'accounts:unfollow' user %}>アンフォロー</button>
</form>
<p><a href={% url 'accounts:following_list' user %}>フォロー数</a>: {{ follow_number }} <a href={% url 'accounts:follower_list' user %}>フォロワー数</a>: {{ follower_number }}</p>
{% else %}
<form method="post">
    {% csrf_token %}
    <button type="submit" formaction={% url 'accounts:follow' user %}>フォロー</button>
</form>
<p><a href={% url 'accounts:following_list' user %}>フォロー数</a>: {{ follow_number }} <a href={% url 'accounts:follower_list' user %}>フォロワー数</a>: {{ follower_number }}</p>
{% endif %}
{% for tweet in tweet_list %}
<p>投稿内容: {{ tweet.content }} 
    <a href="{% url 'tweets:detail' pk=tweet.id %}">詳細</a>
    <a href="{% url 'tweets:delete' pk=tweet.id %}">削除</a>
    {% include "tweets/like_tweet.html" %}
</p>
<hr>
{% endfor %}
{% endblock %}

{% block extrajs %}
{% include "tweets/script.html" %}
{% endblock %}
