{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% for tweet in tweet_list %}
<p>username: <a href={% url 'accounts:user_profile' tweet.user %}>{{ tweet.user }}</a> 投稿日時: {{ tweet.created_at }}</p>
<p>投稿内容: {{ tweet.content }} 
    <a href="{% url 'tweets:detail' pk=tweet.id %}">詳細</a>
    {% if tweet.user == request.user %}
    <a href="{% url 'tweets:delete' pk=tweet.id %}">削除</a>
    {% endif %}
    {% include "tweets/like_tweet.html" %}
</p>
<hr>
{% endfor %}
{% endblock %}

{% block extrajs %}
{% include "tweets/script.html" %}
{% endblock %}
