<script>
    const getCookie = (name) => {
        if (document.cookie && document.cookie !== '') {
          for (const cookie of document.cookie.split(';')) {
            const [key, value] = cookie.trim().split('=')
            if (key === name) {
              return decodeURIComponent(value)
            }
          }
        }
      }
      const csrftoken = getCookie('csrftoken')

      const like_list = document.getElementsByClassName("like")
      for (const like of like_list) {
        const button = like.getElementsByClassName("like-button")[0]
        const counter = like.getElementsByClassName("like-counter")[0]
        const tweet_pk = like.dataset.pk
        like.addEventListener('click', (e) => {
            e.preventDefault()
            const url = '{% url "tweets:like" pk=0 %}'.replace('0', tweet_pk)
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
            })
                .then((response) => {
                    return response.json()
                })
                .then((response) => {
                    button.innerHTML = '<i class="fa-solid fa-heart" style="color:red"></i>'
                    counter.textContent = response.like_count
                }).catch(error => {
                    console.log(error)
                })
        })
      }
</script>
